/*  #F75E62   ,   #16CBD9  */

#questions-section {
    display: flex;
    justify-content: space-between;
}
#questions-section > *{
    width: 50%;
}
.title {
    margin: 0px 8vw;
}
.title h2 {
    margin-top: 14vw;
    line-height: 100%;
    
}
.title p {
    margin: 10px 0px;
    width: calc(25vw + 100px);
}
.title button {
    margin: 100px 0px;
    background-color: #F75E62;
}

#questions {
    margin: 14vw 8vw 0px 0px;
}
.question {
    margin-bottom: 50px;
    border-bottom: 3px solid #D3D3D3;
    color: #2e2e2e;
}
.question h3 {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.question img {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
}
.question p {
    margin-bottom: 20px;
    overflow: hidden;
}
.question-container {
    display: grid;
    grid-template-rows: 0fr;
}

@media screen and (max-width: 1000px){
    #questions-section {
        flex-direction: column;
    }
    #questions-section > *{
        width: 100%;
    }
    .title {
        margin: 0px;
        text-align: center;
    }
    .title p {
        margin: 10px auto;
    }
    .title h2 {
        margin-top: 150px;
        line-height: 100%;
    }
    #questions {
        width: 60%;
        margin: 0px auto;
    }
}



